In [14]:
import pandas as pd
import sqlalchemy
import psycopg2
import matplotlib.pyplot as plt

In [15]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [20]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM salaries", connection)

In [33]:
avg_salary = data.salary.mean
avg_salary()

52970.732451403885