In [14]:
import pandas as pd
import sqlalchemy
import psycopg2
import matplotlib.pyplot as plt

In [15]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [48]:
# Query All Records in the the Database
salaries = pd.read_sql("SELECT * FROM salaries", connection)
employees = pd.read_sql("SELECT * FROM employees", connection)
titles = pd.read_sql("SELECT * FROM titles", connection)
departments = pd.read_sql("SELECT * FROM departments", connection)
dept_emp = pd.read_sql("SELECT * FROM dept_emp", connection)
dept_manager = pd.read_sql("SELECT * FROM dept_manager", connection)

In [41]:
avg_salary = data.salary.mean
avg_salary()

52970.732451403885

In [70]:
avg_salary_title_df = pd.read_sql("""SELECT employees.emp_no, salaries.salary, titles.title 
                            FROM employees 
                            LEFT JOIN salaries ON employees.emp_no=salaries.emp_no 
                            LEFT JOIN titles ON employees.emp_title=titles.title_id""", 
                            connection)

avg_engineer = avg_salary_title_df .loc[(avg_salary_title_df ["title"] == 'Engineer')]
engineer = avg_engineer.salary.mean()

avg_staff = avg_salary_title_df .loc[(avg_salary_title_df ["title"] == 'Staff')]
staff = avg_staff.salary.mean()

58465.38285033152